name = "superfierce-mail"
# name = "mail-exhibit"
main = "src/server.js"
compatibility_date = "2024-01-01"

# D1 数据库绑定
[[d1_databases]]
binding = "TEMP_MAIL_DB"
database_name = "maill_free_db"
database_id = "34e316f1-447f-4ab0-b10c-06589676fa3d"

# 环境变量


# 静态资源目录（Workers + Assets）
[assets]
directory = "public"
# 显式指定绑定名，确保在 Worker 中通过 env.ASSETS 可用
binding = "ASSETS"

# wrangler.toml (wrangler v3.88.0^) 日志服务
# [observability.logs]
# enabled = true



